doctype html
html
  head
    title Pokedex
    link(rel="stylesheet" type="text/css" href="/assets/css/pokedex.style.css")
  body
    h1 Pokedex
    div.pokemon-container
      each pokemon in pokemons
        div.pokemon-card
          img.pokemon-image(src=pokemon.image, alt=pokemon.name)
          div.pokemon-name #{pokemon.id} #{pokemon.name}
          div.pokemon-types
              span.pokemon-type #{pokemon.type}
